{% extends 'base.html.twig' %}

{% block body %}
   <div class="form-group align-items-center" style="width: 50%">
      {{ form_start(form) }}
      {{ form_widget(form) }}
      <button type="submit" class="btn btn-success">save</button>
      {{form_end(form) }}
   </div>
{% endblock %}
